{{- $email := promptStringOnce . "email" "Git email address" -}}
{{- $name := promptStringOnce . "name" "Git name" -}}
{{- $isWork := promptStringOnce . "isWork" "Work setup (y/n)" -}}
edit:
  command: 'vim'

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
{{- if contains "y" (lower $isWork) }}
  work: true
{{- end }}
