# set up zsh history
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt INC_APPEND_HISTORY
setopt HIST_SAVE_NO_DUPS

# set vi input for commands
set -o vi
typeset -U path fpath manpath
typeset -TU INFOPATH infopath
export INFOPATH
path+=("$HOME/bin")
{{- if isExecutable "/opt/homebrew/bin/brew" }}
export HOMEBREW_PREFIX="/opt/homebrew"
export HOMEBREW_CELLAR="$HOMEBREW_PREFIX/Cellar"
export HOMEBREW_REPOSITORY="$HOMEBREW_PREFIX"
path=("$HOMEBREW_PREFIX/bin" "$HOMEBREW_PREFIX/sbin" $path)
fpath=("$HOMEBREW_PREFIX/share/zsh/site-functions" $fpath)
manpath=("$HOMEBREW_PREFIX/share/man" $manpath "")
infopath=("$HOMEBREW_PREFIX/share/info" $infopath "")
{{- else if isExecutable "/home/linuxbrew/.linuxbrew/bin/brew" }}
export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew"
export HOMEBREW_CELLAR="$HOMEBREW_PREFIX/Cellar"
export HOMEBREW_REPOSITORY="$HOMEBREW_PREFIX/Homebrew"
path=("$HOMEBREW_PREFIX/bin" "$HOMEBREW_PREFIX/sbin" $path)
fpath=("$HOMEBREW_PREFIX/share/zsh/site-functions" $fpath)
manpath=("$HOMEBREW_PREFIX/share/man" $manpath "")
infopath=("$HOMEBREW_PREFIX/share/info" $infopath "")
{{- end }}
{{- if lookPath "goenv" }}
eval "$(goenv init -)"
{{- end }}

# Enable ZSH auto-complete
autoload -Uz compinit
zcompdump="${ZDOTDIR:-$HOME}/.zcompdump"
stale_zcompdump=( ${~zcompdump}(N.mh+24) )
if [[ ! -e $zcompdump || ${#stale_zcompdump[@]} -gt 0 ]]; then
  compinit -d "$zcompdump"
  touch "$zcompdump"
else
  compinit -C -d "$zcompdump"
fi
unset zcompdump stale_zcompdump
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
{{- if lookPath "kubectl" }}
if (( ! ${+_comps[kubectl]} )); then
source <(kubectl completion zsh)
fi
{{- end }}
{{- if lookPath "docker" }}
if (( ! ${+_comps[docker]} )); then
source <(docker completion zsh)
fi
{{- end }}
{{- if lookPath "rustup" }}
{{- if or (isExecutable "/opt/homebrew/bin/brew") (isExecutable "/home/linuxbrew/.linuxbrew/bin/brew") }}
path+=("$HOMEBREW_PREFIX/opt/rustup/bin")
{{- end }}
path+=("$HOME/.cargo/bin")
{{- end }}

# colorize command prompt
export CLICOLOR="Yes"
setopt PROMPT_SUBST
{{- if lookPath "git" }}
export PROMPT='[%F{yellow}%* %F{green}%1~ %F{cyan}($(git symbolic-ref --short HEAD 2> /dev/null))%F{white}]%# '
{{- else }}
export PROMPT='[%F{yellow}%* %F{green}%1~%F{white}]%# '
{{- end }}

# convenience aliases
alias ll="ls -lahF"
alias go-git='cd ~/Documents/git/'
{{- if not (index . "work") }}
alias go-dnd='cd ~/Documents/git/four-swords/'
alias go-writing='cd ~/Documents/git/writings/'
alias go-journal='cd ~/Documents/git/writings/journal/'
alias go-exercise='cd ~/Documents/git/writings/exercise/'
{{- end }}

alias my-ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias no='grep -viE'
{{- if not (lookPath "rg") }}
alias findit='find . -not -path "*/\.*" -type f -print0 | xargs -0 grep --color=auto'
{{- end }}

{{- if lookPath "kubectl" }}
alias k='kubectl'
alias kn='kubectl -n'
alias kc='kubectl --context'
alias kconf='kubectl config'
alias kctx='kubectl config use-context'
{{- end }}
{{- if lookPath "git" }}
alias git_root='cd "$(git rev-parse --show-toplevel)"'
alias git_make_executable='git update-index --chmod=+x '
git_submodule_each() { git submodule foreach $@; $@ }
for zsh_function_file in "$HOME/.config/zsh/functions/"*.zsh(N); do
  source "$zsh_function_file"
done
unset zsh_function_file
{{- end }}
{{- if lookPath "terraform"}}
alias tf='terraform'
{{- else if lookPath "tofu"}}
alias tf='tofu'
{{- end }}
{{- if lookPath "mvn"}}
alias mci="mvn clean install"
alias mcist="mvn clean install -DskipTests -T 2C"
{{- end }}

up () {
  cd "$(pwd | grep -Eo "^.*${1:-$PWD}[^/]*")"
}
{{- if lookPath "kind" }}
kind-reset () {
  kind delete cluster --name "${1:="default"}" ; kind create cluster --name "$1" "${@:2}" && kctx "kind-${1}" && k wait -A --for condition=Available deployment --all --timeout 90s
}
{{- end }}

{{- if lookPath "aws" }}
ssm() {
  aws ssm start-session --target "${1}" --document-name AWS-StartInteractiveCommand --parameters command="bash -l"
}
{{- end }}
