[user]
	email = {{ .email }} 
	name = {{ .name }}
[core]
	editor = vim
	excludesfile = ~/.gitignore
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[alias]
	aa = add --all
	diffs = diff --staged
	st = status
	staash = stash --all
