.inline-title {text-decoration: underline;}
.cm-header.cm-header-1 {color: steelblue; text-decoration: underline;}
.cm-header.cm-header-2 {color: lightseagreen; text-decoration: underline;}
.cm-header.cm-header-3 {color: darkseagreen;}
.cm-header.cm-header-4 {color: khaki;}
.cm-header.cm-header-5 {color: indianred;}
.cm-header.cm-header-6 {color: darksalmon;}
