.inline-title {text-decoration: underline;}
.markdown-rendered h1, .cm-header.cm-header-1 {color: #A6ACAF; text-decoration: underline;}
.markdown-rendered h2, .cm-header.cm-header-2 {color: #45B39D; text-decoration: underline;}
.markdown-rendered h3, .cm-header.cm-header-3 {color: #138D75;}
.markdown-rendered h4, .cm-header.cm-header-4 {color: #3498DB;}
.markdown-rendered h5, .cm-header.cm-header-5 {color: #85C1E9;}
.markdown-rendered h6, .cm-header.cm-header-6 {color: #AED6F1;}
